<nav>
  <div class="nav-wrapper teal lighten-2">
    <a [routerLink]="isUserAuthenticated ? 'home' : 'login'" class="brand-logo">BookTrader</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" *ngIf="!isUserAuthenticated">
        <a routerLink="register">Register</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isUserAuthenticated">
        <a routerLink="login">Login</a>
      </li>
      <li routerLinkActive="active" *ngIf="isUserAuthenticated">
        <a routerLink="profile">Profile</a>
      </li>
      <li (click)="doLogout()" *ngIf="isUserAuthenticated">
        <a>Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

